<h1>Stats</h1>

<div class="row">
  <span class="span2 text-left">Number of days</span>
  <span class="span2 text-left"><%= @number_of_days %></span>
</div>

<div class="row">
  <span class="span2 text-left">Number of images</span>
  <span class="span2 text-left"><%= @number_of_images %></span>
</div>

<table class="table">
  <thead>
    <tr>
      <td>Date</td>
      <td>Images capture</td>
    </tr>
  </thead>
  <tbody>
    <% @image_stats.each do |date, image_count| %>
      <tr>
        <td><%= link_to date, day_path(date) %></td>
        <td><%= image_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
