<h1><%= @date.to_s(:long_ordinal) %></h1>

<ul class="thumbnails">
  <% @images.each do |image| %>
    <li class="span3">
      <%= link_to image, class: 'thumbnail' do %>
        <%= image_tag image.url, class: 'img img-thumbnail', size: '171x180' %>
        <div class="caption">
          <%= image.taken_at.strftime('%H:%M') %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
