<h1>
  <time class="taken_at" datetime="<%= @image.taken_at.to_datetime.rfc3339 %>">
    <%= @image.taken_at.strftime('%H:%M') %>
  </time>
</h1>

<%= image_tag @image.url, size: '600x450', class: 'img-polaroid' %>
